/* 
# ignore everything, 
# but include:

!.gitignore
!README

!my_sources/
!my_sources/*

!refactor_jan27.srcs/
!refactor_jan27.srcs/*

# and of course vitis! (it gets its own gitignore file, dont worry)
!vitis_project/
!vitis_project/*


# project data
!*.xpr pro
# wave cfg
!*.wcfg
strstr
# forgive me for i have sinned
# https://theapache64.github.io/git-do-not-ignore/
refactor_jan27.gen/*
!refactor_jan27.gen/
refactor_jan27.gen/sources_1/*
!refactor_jan27.gen/sources_1/
refactor_jan27.gen/sources_1/bd/*
!refactor_jan27.gen/sources_1/bd/
refactor_jan27.gen/sources_1/bd/design_1/*
!refactor_jan27.gen/sources_1/bd/design_1/
refactor_jan27.gen/sources_1/bd/design_1/hdl/*
!refactor_jan27.gen/sources_1/bd/design_1/hdl/
!refactor_jan27.gen/sources_1/bd/design_1/hdl/*
